body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.ContainerProdutos {  
  padding: 10px;
  margin-top: 70px;  
}

.container .txtPlano1{
  /* height: 40px;  */
  /* margin: 3px 0; */
  border-radius: 4px;
  width: 100%;
  padding: 12px;      
  display: flex;
}

.container .txtPlano2{
  /* height: 40px;  */
  /* margin: 3px 0; */
  border-radius: 4px;
  width: 100%;
  padding: 12px;      
  display: flex;
}

.container .txtPlano3{
  /* height: 40px;  */
  /* margin: 3px 0; */
  border-radius: 4px;
  width: 100%;
  padding: 12px;      
  display: flex;
}