body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.ContainerSegurado {  
  padding: 10px;
  margin-top: 70px;  
}

.FazerChamado {  
  padding: 10px;
  margin-top: 70px;  
}

.container .txtSegurado{        
  /* height: 40px;  */
  /* margin: 3px 0; */
  border-radius: 4px;
  width: 100%;
  padding: 12px;      
}
